.accordion {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  line-height: 24px;
  text-align: left;
}

.accordion__item {
  padding: 24px 32px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  cursor: pointer;
}

.accordion__summary::marker {
  display: none;
  content: '';
}

.accordion__summary::after {
  display: block;
  width: 18px;
  height: 10px;
  background-image: url('images/arrow-down.svg');
  content: ' ';
  transition: all 0.1s;
}

.accordion__item[open] .accordion__summary::after {
  transform: rotate(-180deg);
}

.accordion__content {
  margin: 16px 0 0;
  color: var(--grey-4);
  opacity: 0;
  transition: opacity 1s;
}

.accordion__item[open] .accordion__content {
  opacity: 1;
}
