.histogram {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px 12px;
  border: 1px solid #acb5bd;
  border-radius: 8px;
  background-color: #fff;
}

.histogram__bars {
  display: flex;
  width: 100%;
  height: 30px;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: stretch;
  gap: 1px;
}

.histogram__bar {
  flex: 1 0 auto;
  background: #4263eb;
}

.histogram__bar:last-child {
  margin-right: 0;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.histogram__title {
  margin: 0;
  color: #212429;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  opacity: 0.8;
}

.histogram__link {
  display: block;
  margin-left: 12px;
  color: #4263eb;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  text-decoration: none;
}

.histogram__total {
  display: block;
  margin-bottom: 16px;
  color: #212429;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

@media screen and (width >= 600px) {
  .histogram {
    padding: 16px 24px 24px;
  }

  .histogram__bars {
    height: 50px;
  }

  .histogram__link {
    margin-top: 3px;
    margin-left: 20px;
  }

  .histogram__total {
    margin-bottom: 39px;
  }
}
