.main {
  width: 100%;
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
  background-color: var(--secondary-background);
}

.main_internal {
  padding: 32px 16px;
  border-top: none;
  border-bottom: none;
  background-color: var(--primary-background);
  box-shadow: 0 2px 4px rgb(33 36 41 / 5%);
}

.main__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: var(--font-height-h2);
}

@media screen and (min-width: 600px) {
  .main {
    background-color: var(--secondary-background);
  }

  .main_internal {
    padding: 32px 48px;
    border-radius: 12px;
    background-color: var(--primary-background);
  }

  .main__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
  }

  .main__histogram {
    max-width: 300px;
  }
}
