.page {
  margin: 0;
  background-color: var(--primary-background);
  color: var(--black);
  font-family: var(--font-family-secondary);
}

.page_internal {
  background-color: var(--secondary-background);
}

.page_grid {
  display: grid;
  font-family: var(--font-family-secondary);
  grid-template-areas:
    'header'
    'container'
    'footer';
  grid-template-columns: 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: 64px 1fr auto;
}

.page__header {
  grid-area: header;
}

.page__container {
  display: flex;
  gap: 56px;
  grid-area: container;
}

.page__footer {
  grid-area: footer;
}

@media screen and (min-width: 1200px) {
  .page_grid {
    grid-gap: 36px;
    grid-template-rows: 82px 1fr auto;
  }
}
