.preview {
  padding: 24px 16px 64px;
}

.preview__cards {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (width >= 600px) {
  .preview {
    padding: 67px 16px 204px;
  }
}

@media screen and (width >= 1200px) {
  .preview__cards {
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
