@import '../fonts/fonts.css';

:root {
  --white: #fff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-dark: #5028c6;
  --blue: #374fc7;
  --blue-dark: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --primary-dark: var(--blue-dark);
  --secondary: var(--purple);
  --secondary-dark: var(--purple-dark);
  --max-width: 1120px;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Inter', sans-serif;
  --font-size-h1: 50px;
  --font-size-h2: 38px;
  --font-size-p: 16px;
}

body {
  font-family: var(--font-family-primary);
}
